# Contains tabs on purposes for testing
WORK_MODULES = FakeModuleA  FakeModuleD\
   FakeModuleE \
FakeModuleF

LINK_MODULES = FakeModuleB/FakeModuleB-R1-63x \
               FakeModuleC/FakeModuleC-R1-01f \
               FakeModuleG/FakeModuleG-R1-01f-ProjectA-Maintenance05 \
               FakeModuleZ/FakeModuleZ-R99-21-Build13

BRANCH_FakeModuleA = FakeModuleA-R1-00v my-tag
   BRANCH_FakeModuleD = FakeModuleD-R1-00z my-tag1
BRANCH_FakeModuleE = FakeModuleE-R2-00a
BRANCH_FakeModuleF = main
